<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         backupGlobals="false"
         backupStaticAttributes="false" 
         bootstrap="vendor/autoload.php" 
         colors="true" 
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <report>
            <clover outputFile="./build/logs/clover.xml"/>
            <xml outputDirectory="./build/logs"/>
        </report>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Brand Tests">
            <directory suffix="Test.php">./tests/Brand</directory>
        </testsuite>
        <testsuite name="Category Tests">
            <directory suffix="Test.php">./tests/Category</directory>
        </testsuite>
        <testsuite name="Commission Tests">
            <directory suffix="Test.php">./tests/Commission</directory>
        </testsuite>
        <testsuite name="Condition Tests">
            <directory suffix="Test.php">./tests/Condition</directory>
        </testsuite>
        <testsuite name="Product Tests">
            <directory suffix="Test.php">./tests/Product</directory>
        </testsuite>
        <testsuite name="Queue Tests">
            <directory suffix="Test.php">./tests/Queue</directory>
        </testsuite>
        <testsuite name="Auth Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
